<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pedido">
            <h2><span jhiTranslate="iappReclamosApp.pedido.detail.title">Pedido</span></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iappReclamosApp.pedido.fechaEntrega">Fecha Entrega</span></dt>
                <dd>
                    <span>{{pedido.fechaEntrega | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="iappReclamosApp.pedido.montoCompra">Monto Compra</span></dt>
                <dd>
                    <span>{{pedido.montoCompra}}</span>
                </dd>
                <dt><span jhiTranslate="iappReclamosApp.pedido.dniCliente">Dni Cliente</span></dt>
                <dd>
                    <span>{{pedido.dniCliente}}</span>
                </dd>
                <dt><span jhiTranslate="iappReclamosApp.pedido.nombreCliente">Nombre Cliente</span></dt>
                <dd>
                    <span>{{pedido.nombreCliente}}</span>
                </dd>
                <dt><span jhiTranslate="iappReclamosApp.pedido.mailCliente">Mail Cliente</span></dt>
                <dd>
                    <span>{{pedido.mailCliente}}</span>
                </dd>
                <dt><span jhiTranslate="iappReclamosApp.pedido.idProducto">Id Producto</span></dt>
                <dd>
                    <span>{{pedido.idProducto}}</span>
                </dd>
                <dt><span jhiTranslate="iappReclamosApp.pedido.descripcionProducto">Descripcion Producto</span></dt>
                <dd>
                    <span>{{pedido.descripcionProducto}}</span>
                </dd>
                <dt><span jhiTranslate="iappReclamosApp.pedido.tienda">Tienda</span></dt>
                <dd>
                    <div *ngIf="pedido.tiendaId">
                        <a [routerLink]="['/tienda-my-suffix', pedido.tiendaId, 'view']">{{pedido.nombreTienda}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

<!--             <button type="button" -->
<!--                     [routerLink]="['/pedido-my-suffix', pedido.id, 'edit']" -->
<!--                     class="btn btn-primary"> -->
<!--                 <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span> -->
<!--             </button> -->
        </div>
    </div>
</div>
