<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="parametro">
            <h2><span jhiTranslate="iappReclamosApp.parametro.detail.title">Parametro</span> {{parametro.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iappReclamosApp.parametro.clave">Clave</span></dt>
                <dd>
                    <span>{{parametro.clave}}</span>
                </dd>
                <dt><span jhiTranslate="iappReclamosApp.parametro.valor">Valor</span></dt>
                <dd>
                    <span>{{parametro.valor}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/parametro', parametro.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
